header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, #0002af 0%, #000143 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #0002af 0%, #000143 100%);
}

.btn-primary {
  color: #fff;
  background-color: #0002af;
  border-color: #0002af;
}

a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  color: #343a40;
  background-color: greenyellow !important;
  border-color: greenyellow !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(238,9,121,.5);
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}

